#comments {
  margin:15px 60px 0 60px;
  padding:0 0 30px 0;

  .comments-title {
    font-size:2rem;
  }

  .comment-list {
    list-style:none;
    padding:0;
    margin:0;

    > li.comment {
      border-bottom:1px solid lighten($base_font_text_color, 60%);
      padding:0 0 50px 0;

      &:last-child {
        padding:0;
        border-bottom:0px;
      }
    }

    li.comment{
      margin:0 0 70px 0;

      .comment-body {
        background:$body-bg;
        box-shadow: 0 40px 64px 0 rgba(174,174,174,0.24);
        padding:30px 20px;
      }

      .children {
        margin:40px 0 0 0;
      }
    }

    ol {
      list-style:none;
    }
  }
}
