#wrapper-footer-full {
  padding-top:70px;
  padding-bottom:10px;
  background:white;

  .footer-widget {
    h3 {
      font-weight:600;
      font-size:20px;
    }

    ul.menu {
      margin:0;
      padding:20px 0 0 0;
      list-style: none;
      text-align:right;

      li {

          padding:0;
          margin:0 0 20px 0;

          a {
            color:$body-color;
            font-weight:600;

            &:hover {
              color:$body-color;
              text-decoration:underline;
            }
          }
      }

      .sub-menu {
        display:none;
      }
    }
  }
}

#wrapper-footer {
  padding:0;
  margin-top:10px;

  .site-footer {
    padding-top:30px;
    padding-bottom:20px;
    border-top:1px solid #979797;

    p {
      font-size:12px;
      line-height:24px;
      margin:0;
    }

    a {
      color: $body-color;

      &:hover {
        color:$primary;
      }

      i{
        font-size:16px;
        line-height:24px;
        padding-left:20px;
      }
    }
  }
}
