form {

  [type=button],
  [type=reset],
  [type=submit],
  button {
    border-radius:0;
    box-shadow:none;
    border:0;
    background-color:$primary;
    color:white;
    padding:15px 45px;
    font-weight:600;
  }

  input,
  textarea,
  .form-control {
    background:#f6f6f6;
    font-weight:bold;
    border:0;
    padding:15px 20px;
  }
}
