body {
  overflow-x: hidden;
  font-style: $base_font_font_style;
  text-transform: $base_font_text_transform;
}

.col-md {
  min-width: 0;
}

@media (min-width: 1300px) {
  .container {
      max-width: 1300px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: $font_heading_font_style;
  letter-spacing:($font_heading_letter_spacing * 1px);
}


.h1, h1 {
  font-size:3.3rem;
  margin-bottom: 1.5rem;
}

.h2, h2 {
  font-size:3rem;
  margin-bottom: 1.5rem;
}

.h3, h3 {
  font-size:2.5rem;
  margin-bottom: 1rem;
}

.h4, h4 {
  font-size:2rem;
  margin-bottom: 1rem;
}

.h5, h5 {
  font-size:1.5rem;
}

.wrapper {
  padding:0;
}



.pagination,
.page-item.active .page-link,
.page-item:last-child .page-link {
  border-radius:0;
}



#main {

  &.index-main {
    padding:0 30px;
  }

  body.archive &,
  body.blog &,
  body.search & {

    display: grid;
    grid-template-columns: 50% 50%;

    article {
        .entry-header,
        .entry-content {
          padding-left:0;
          padding-right:0;
        }
    }

    @media(max-width:991px) {
      article {
        grid-column-start: 1 !important;
        grid-column-end: 3 !important;
      }
    }

    @media(max-width:767px) {
      article {
        .entry-content {
          .excerpt {
            font-size: 1.2rem;
            line-height: 1.4rem;
          }
        }
      }
    }
  }

  .entry-content {
    padding-left:60px;
    padding-right:60px;

    .entry-meta {
      font-size:14px;
      font-weight:700;
      padding:13px 0;

    }

    p {
      line-height:2rem;
    }
  }

  .entry-header:not(.page-header) {
    padding:0 60px 1rem 60px;

    .entry-title {
      font-size:1.5rem;
      margin-bottom:1rem;
      word-break: break-word;
    }
  }

  .entry-footer {
    margin:2rem 60px;

    .tags-links {
      font-size:14px;
      font-weight:700;
    }

    .post-navigation {
      margin-top:20px;
      padding-bottom:15px;
      border-bottom:1px solid lighten($base_font_text_color, 60%);

      .nav-links {
        display: flex;
        flex-wrap: wrap;

        a {
          font-weight:bold;
        }
      }
    }

    .post-share {
      font-weight:700;
      padding:15px 0;

      ul {
        display:inline;
        list-style:none;
        margin:0;
        padding:0;

        li {
          display:inline;
          margin:0 15px;

          a:hover {
            color:$primary;
          }

          .fb {
            color:#3B609A;
          }
          .tw {
            color:#19ACE0;
          }
        }
      }
    }
  }

  @media(max-width:991px){
    .entry-content {
      padding-left:30px;
      padding-right:30px;

      .alignwide {
        margin-left:-30px;
        margin-right:-30px;
      }
    }

    .entry-footer {
      margin-left:30px;
      margin-right:30px;
    }

    .entry-header:not(.page-header) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media(max-width:767px){
    .entry-content {
      padding-left:0px;
      padding-right:0px;
    }

    .entry-footer {
      margin-left:0;
      margin-right:0;
    }
    .entry-header:not(.page-header) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.fullwidth-content {
  #main {
    .entry-content {
      .alignwide {
        margin-left:-60px;
        margin-right:-60px;
        max-width:calc(100% + 120px);
        width:calc(100% + 120px);
      }

      .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width:100vw;
        width:100vw;
      }

      @media(max-width:991px){
        .alignwide {
          margin-left:-30px;
          margin-right:-30px;
          max-width:calc(100% + 60px);
          width:calc(100% + 60px);
        }
      }

      @media(max-width:767px){
        .alignwide {
          margin-left:0px;
          margin-right:0px;
          max-width:100%;
          width:100%;
        }
      }
    }
  }
}

article.overview-item {
  padding: 20px;
  transition: all 0.5s;
  border-radius: 3px;
  width:100%;

  &:hover {
    background:rgba(0,0,0,0.05);
  }

  .entry-header,
  .entry-content {
    padding-left:0;
    padding-right:0;
  }

  .featured-image {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 6px;
    margin: 0 0 45px 0;
    width:100%;
    padding-top:75%;
  }

  .entry-header {

    padding-bottom:1rem;

    .entry-title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      word-break: break-word;
    }
  }

  .entry-meta {
    font-size: 0.9rem;
    font-weight:700;
    opacity:0.8;
  }

  .entry-content {
    .excerpt {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.7rem;
    }
  }

  .btn {
    margin-top: 1rem;
  }
}

#related-posts {
  .related-posts-wrapper {
    padding:0 60px;
    margin:0 0 60px 0;
  }

  .related-posts-grid {
    display:grid;
    grid-template-columns: 33.333% 33.3333% 33.3333%;
    margin:0 -20px;

  }
}
