.navbar {
  padding: 2rem 1rem;

  .header-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width:100%;

    .navbar-brand {
      flex: 0 0 auto;

      img {
        height: $logo_height * 1px;
        width: auto;
      }
    }

    #navbarNav {
      flex: 1 0 auto;
    }

    .header-social {
      flex: 0 0 auto;
    }
  }

  //menu ul
  .navbar-nav {
      justify-content: flex-end;

      li {
        &.hidden {
          display:none;
        }

        .nav-link {
          position:relative;
          font-size:1.1rem;
          font-weight:600;
          color:$body-color;
          padding:0.7rem 0;
          margin: 0 1.5rem;
        }

        &:last-child .nav-link {
          margin-right:0;
        }

        a {
          &:before {
            content: '';
            position: absolute;
            bottom: 0.6rem;
            left: 0;
            height: 3px;
            width: 0;
            background: $primary;
            transition: all 0.3s;
          }

          &:hover {
            background: transparent;
  
            &:before {
              width: 25px;
            }
          }
        }

        &.current-menu-item,
        &.current-menu-ancestor {
          > a {
            background: transparent;

            &:before {
              width: 25px;
            }
          }
        }

        &.menu-item-has-children {
          .dropdown-menu {
            padding: 0.5rem 0 1rem 0;
            margin: .125rem 0 0 0;
            color: #484848;
            background-color: transparent;
            border: none;
            border-radius: 0;
            left: -1rem;
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;

            li.menu-item-has-children {
              .dropdown-menu {
                padding: 1.5rem 0 3rem 0;
                left: auto;
                right: -80%;
                top: 0;
                z-index: -2;

                .nav-item {
                  padding: 0 30px;
                  transition: all 0.3s;
                }
              }

              &:hover {
                .dropdown-menu {
                  display: block;
                  visibility: visible;
                  opacity: 1;
                  right: -90%;

                  .menu-bg {
                    opacity: 1;
                  }

                  .nav-item {
                    padding: 0 40px;
                  }
                }
              }
            }
            
            .menu-bg {
              position: absolute; 
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              z-index: -1;
              fill: #fff;
              opacity: 0;
              transition: all 0.3s;
            }
            
            .filter {
                filter: drop-shadow( 0 0 15px rgba(0,0,0,0.15) );
            }

            .nav-item {
              padding: 0 40px;

              .dropdown-item {
                position:relative;
                font-size:1.1rem;
                font-weight:600;
                color:$body-color;
                padding:0.7rem 0;
                margin: 0;
              }              
            } 
            
            &.show {
              padding: 1.5rem 0 3rem 0;
              visibility: visible;
              opacity: 1;

              .menu-bg {
                opacity: 1;
              }
            }
          }
        }
      }

      > li.button {
        .nav-link {
          background-color:$primary;
          color:white;
        }
      }

  }

  .header-social {
    margin-left:auto;

    > * {
      margin-left:30px;
    }
    a {
      display:inline-block;
      margin-left:10px;
      color:$body-color;
    }
  }
}

.navbar-toggler {
  background-color:$primary;
  border-radius:0;
  outline:none;
  padding: 0.5rem .75rem;
  box-shadow:0px 1px 10px rgba(0,0,0,0.1);
  z-index:101;
  margin-left:auto;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color:white;
  }

  &:active,
  &:focus {
    outline:none;
  }

  &.open .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 4 28 28  M 28 4 4 28 '/%3E%3C/svg%3E");
  }
}

@media(max-width:767px) {
  #navbarNav {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:$body-bg;
    z-index:100;

    ul {
      margin-top: calc(64px + 2rem);

      li {
        .nav-link {
          text-align:center;
          font-size:2.4rem;
          color:$primary;
        }

        &.button .nav-link {
          background:transparent;
          color:$primary;
        }
      }
    }
  }
}
