.page-header {
  position:relative;
  width:100%;
  // height:250px;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color: transparent;
  //background-color:$base_font_text_color;
  color: $base_font_text_color;
  margin:0 0 100px 0;

  body.archive &,
  body.blog &,
  body.search & {
    margin-bottom: calc( 100px - 3rem );
  }

  &.has-image {
    color:white;
    //height:350px;

    .overlay {
      background-color: rgba(0,0,0,0.3);

      h1 {
        color: white;
      }
    }

    .header-border {
      display: none;
    }

    .header-diagonal {
      display: block;
    }
  }

  .overlay {
    width:100%;
    height:100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding:100px 60px;    
    position: relative;

    #breadcrumbs {
      padding:0;
      margin:0;
    }

    h1 {
      padding: 0;
      color: $base_font_text_color;
      word-wrap: break-word;
      animation: 1s ease-out 0s 1 slideInFromBottom;


      .title-border {
        position: relative;

        &:before {
          content: '';
          animation: 2s ease-out 0s 1 moveunderline;
          position: absolute;
          bottom: -6px;
          left: 0;
          height: 6px;
          width: 100%;
          background: $primary;
        }
      }
    }

    .entry-meta {
      animation: 1s ease-out 0s 1 slideInFromTop;
    }
  }

  .header-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0;
    animation: 2s ease-out 0s 1 bordermoveout;

    path {
      fill: transparent;
      stroke: $primary;
      stroke-width: 6px;
    }
  }

  .header-diagonal {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    height: 80px;
    fill:$body-bg;
    margin: 0 -1px -1px 0;
  }

  &.author-header,
  &.archive-header,
  body.single & {
    margin-bottom:50px;
  }
}

@media (max-width:1199px) {
  .page-header {
    margin:0 0 100px 0;
  }
}

@media (max-width:991px) {
  .page-header {
    margin:0 0 60px 0;
    height:300px;

    h1 {
      font-size:40px;
    }
  }
}

@media (max-width:767px) {
  .page-header {
    margin:0 0 30px 0;
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    height:250px;

    .overlay {

      h1 {
        font-size:32px;
        padding:0;

        .title-border {
          border-bottom: 6px solid transparent;
        }
      }
    }
  }
}



@keyframes slideInFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes increaseunderline {
  0% {
    border-bottom-width: 0;
  }
  70% {
    border-bottom-width: 0;
  }
  100% {
    border-bottom-width: 6px;
  }
}

@keyframes moveunderline {
  0% {
    width: 0;
  }
  70% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bordermoveout {
  0% {
    padding: 10px;
    opacity: 0;
  }
  30% {
    padding: 10px;
    opacity: 0;
  }
  100% {
    padding: 0;
    opacity: 1;
  }
}