$base_font_font_size: 16;
$base_font_font_family: Muli;
$base_font_font_weight: 400;
$base_font_font_style: normal;
$base_font_letter_spacing: 0;
$base_font_text_color: #484848;
$base_font_text_transform: none;
$enable-rounded: false;
$enable-shadows: false;
$font_heading_font_family: Muli;
$font_heading_font_weight: 700;
$font_heading_font_style: normal;
$font_heading_letter_spacing: 0;
$font_heading_text_color: #484848;
$logo_height: 60;
$primary: #C8A374;
$share_buttons: true;
