// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

//Gechecked
$body-color: $base_font_text_color;
$font-family-base: $base_font_font_family;
$font-weight-base: $base_font_font_weight;

//calculate font size to rem unit
$font-size-base : (($base_font_font_size / 16) * 1rem);


$headings-font-family: $font_heading_font_family;
$headings-font-weight: $font_heading_font_weight;
$headings-color: $font_heading_text_color;

$link-color:                              $primary;
$link-decoration:                         none;
$link-hover-decoration:                   underline;


// Nog checken
//$secondary: rgb(71, 32, 88);
