.widget-area {

  .widget {
    margin-bottom:2rem;

    .widget-title {
      font-size:1.5rem;
    }

    ul,
    ol {
      list-style:none;
      margin:0;
      padding:0;

      li {
        margin:0 0 5px 0;
      }
    }
  }

}
