

.has-medium-font-size {
  font-size:22px;
  font-weight:600;
  line-height:1.5;
}

.has-large-font-size {
  font-size:24px;
  font-weight:700;
  line-height:1.6;
}

.has-huge-font-size {
  font-size:52px;
  line-height:1.2;
  font-weight:700;
}

.wp-block-cover, .wp-block-cover-image {
  margin-bottom:3rem;
}

.wp-block-button__link,
.btn,
.btn-primary,
.btn-secondary {
  background-color: transparent !important;
  color:white;
  padding:15px 40px;
  font-weight:700;
  border: $primary 2px solid !important;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;


  &:before {
    content: '';
    position: absolute;
    height: 160%;
    width: 100%;
    top: -30%;
    left: 0;
    background: $primary;
    transform: skew(0, -10deg);
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover {
    text-decoration: none;
    color: $primary;

    &:before {
      top: -200%;
    }
  }
}
.btn,
.btn-primary,
.btn-secondary {
    border-radius:0;
    box-shadow:none;
}

.wp-block-image {
  img {
    border-radius: 3px;
  }
}

.wp-block-media-text {
  & > figure {
    & > img,
    & > video {
      border-radius: 3px;
    }
  }
}
