.menu-header-block {
  .menu-header {
    height: 600px; //vh setting?

    .overlay {
      justify-content: center;
      text-align: center;
      padding: 0 120px;
      background-color: rgba(0,0,0,0.3);

      h1 {
        color: white;
      }
    }

    .header-diagonal {
      height: 10%;
      display: block;
    }

    .header-border {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      padding: 57px;
      animation: 2s ease-out 0s 1 bordermovein;

      path {
        fill:transparent;
        stroke: $primary;
        stroke-width: 6px;
      }
    }
  }
}



@keyframes bordermovein {
  0% {
    padding: 30px;
    opacity: 0;
  }
  30% {
    padding: 30px;
    opacity: 0;
  }
  100% {
    padding: 57px;
    opacity: 1;
  }
}
