.post-grid-block {
  .post-item {
    margin:0 0 30px 0;
    display:block;

    .feat-img {
      width:100%;
      padding-top:56.25%;
      background-position: center;
      background-size:cover;
      background-repeat:no-repeat;
      background-color:#eee;
      margin:0 0 10px 0;
    }
  }
}
