
.slider-container-block {
  position:relative;
  padding:40px 0;

  .swiper-slide {
    width:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;

    .slide-content {
      display:flex;
      align-items: center;
      justify-content: center;
      padding:30px;
      min-height:500px;

      h3 {
        color:white;
        font-weight:bold;
        font-size:30px;
      }
    }
  }


  .swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%;

    .swiper-pagination-bullet {
      margin: 2px 4px;
      outline:none;
    }

    .swiper-pagination-bullet-active {
      background:$primary;
      width:12px;
      height:12px;
      margin: 0px 4px;
    }
  }

  .swiper-btn {
    background:none;
    &:before {
      position: absolute;
      font-family: 'FontAwesome';
      font-size:30px;
      color:white;
    }
  }


  .swiper-button-next {
    right:-60px;
    outline:none;

    &:before {
      content: "\f054";
      color:$body-color;
    }

    &:hover:before {
      color:$primary;
    }

  }

  .swiper-button-prev {
    left:-60px;
    outline:none;
    &:before {
      content: "\f053";
      color:$body-color;
    }
    &:hover:before {
      color:$primary;
    }
  }

}

#main .entry-content > .slider-container-block {
  padding-left:0;
  padding-right:0;
  margin-left: 120px;
  margin-right: 120px;
}

@media (max-width:991px) {
  #main .entry-content > .slider-container-block {
    margin-left:60px;
    margin-right:60px;
  }

  .slider-container-block .swiper-slide .slide-content {
    min-height:400px;
  }
}

@media (max-width:767px) {
  #main .entry-content > .slider-container-block {
    margin-left:30px;
    margin-right:30px;
  }

  .slider-container-block {
    .swiper-slide .slide-content {
      min-height:300px;
    }

    .swiper-button-next {
      right:-30px;
    }

    .swiper-button-prev {
      left:-30px;
    }
  }


}
